version: "3"
services:
  mariadb:
    image: mariadb:${MARIADB_VERSION}
    ports:
      - "${MARIADB_HOST_PORT}:3306"
    volumes:
      - ${MARIADB_CONF_FILE}:/etc/mysql/conf.d/mariadb.cnf:ro
      - ${DATA_DIR}/mariadb:/var/lib/mysql/:rw
    restart: always
    networks:
      - default
    environment:
      MARIADB_ROOT_PASSWORD: "${MARIADB_ROOT_PASSWORD}"
      MARIADB_USER: "${MARIADB_USER}"
      MARIADB_PASSWORD: "${MARIADB_PASSWORD}"
      MARIADB_DATABASE: "${MARIADB_DATABASE}"
      TZ: "$TZ"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  go:
    image: golang:${GO_VERSION}-alpine${ALPINE_VERSION}
    ports:
      - "${GO_PORT}:8088"
    expose:
      - 8808
    volumes:
      - ${CODE_DIR}:/code/:rw
    restart: always
    cap_add:
      - SYS_PTRACE
    networks:
      - default
    tty: true
    environment:
      GOPROXY: ${GO_PROXY}
      TZ: "$TZ"
    depends_on:
      - mariadb
  redis:
    image: redis:${REDIS_VERSION}
    ports:
      - "${REDIS_HOST_PORT}:6379"
    volumes:
      - ${REDIS_CONF_FILE}:/etc/redis.conf:ro
      - ${DATA_DIR}/redis:/data/:rw
    restart: always
    entrypoint: ["redis-server", "/etc/redis.conf"]
    environment:
      TZ: "$TZ"
    networks:
      - default
  postgres:
    image: postgres:${POSTGRES_VERSION}
    ports:
      - "${POSTGRES_HOST_PORT}:5432"
    volumes:
      - ${DATA_DIR}/postgres:/var/lib/postgresql/data/:rw
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      TZ: "$TZ"
    networks:
      - default
networks:
  default:
