CODE_DIR=../

DATA_DIR=./data

LOG_DIR=./logs

TZ=Asia/Shanghai

ALPINE_VERSION=3.12

MARIADB_VERSION=lts
MARIADB_HOST_PORT=3306
MARIADB_ROOT_PASSWORD=123456
MARIADB_USER=app
MARIADB_PASSWORD=123456
MARIADB_DATABASE=app
MARIADB_CONF_FILE=./services/mariadb/mariadb.cnf


GO_VERSION=1.15
GO_PORT=8088
GO_DIR=./services/go
GO_PROXY=https://goproxy.cn

REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./services/redis/redis.conf

POSTGRES_VERSION=18
POSTGRES_HOST_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres